/* CSS HEX */
:root {
    --yellow: #f5b651ff;
    --red: #ff6633ff;
    --green: #6dbb63ff;
    --blue: #6dceeeff;
    --dark-gray: #22223bff;
    --gray: #4a4e69ff;
    --light-gray: #9a8c98ff;
    --beige: #c9ada7ff;
    --white: #f2e9e4ff;
}
